<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Riley Lundquist</title>
  <link href="http://fonts.googleapis.com/css?family=Fauna+One:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/templates/static/css/standardize.css">
  <link rel="stylesheet" href="/templates/static/css/index-grid.css">
  <link rel="stylesheet" href="/templates/static/css/index.css">
</head>
<body class="body index clearfix">
  <div class="element element-1 js-header">
    <p class="text text-1 js-name"><a style="color:#ffffff;" href="/">Riley Lundquist</a></p>
  </div>
  <div class="container container-1 js-content">
    <div class="container container-2 js-experience-section">
      <p class="text text-2 js-experience-title">experience&nbsp;</p>
      <div class="container container-3 js-experience-element">
        <div class="container container-4 js-info">
          <p class="text text-3 js-title">Android &amp; iOS Developer</p>
          <p class="text text-4 js-organization">Versapp, LLC - Kalamazoo, Michigan</p>
          <p class="text text-5 js-dates">May 2014 - present</p>
        </div>
        <div class="text text-6 js-description">
          <p>Developed an anonymous social application, <a href="http://www.versapp.co">Versapp</a>, on both Android &amp; iOS platforms</p>
          <p>Assisted with decisions for company formation</p>
</div>
      </div>
      <div class="container container-5 js-experience-element">
        <div class="container container-6 js-info">
          <p class="text text-7 js-title">Computer Science Teaching Assistant</p>
          <p class="text text-8 js-organization">Kalamazoo College - Kalamazoo, Michigan</p>
          <p class="text text-9 js-dates">March 2014 - June 2014</p>
        </div>
        <div class="text text-10 js-description">
          <p>Helped students learning Java with labs</p>
          <p>Graded homework for Computer Organization course</p>
</div>
      </div>
      <div class="container container-5 js-experience-element">
        <div class="container container-6 js-info">
          <p class="text text-7 js-title">Engineering Intern</p>
          <p class="text text-8 js-organization">Eaton Corp. - Galesburg, Michigan</p>
          <p class="text text-9 js-dates">May 2013 - April 2014</p>
        </div>
        <div class="text text-10 js-description">
          <p>Led the search for a work request software system, working directly with software companies, the IT department, and the affected engineers and technicians, ultimately implementing <a href="http://bestpractical.com/rt/">Request Tracker</a></p>
          <p>Developed various data analysis scripts in <a href="http://www.imc-berlin.com/products/measurement-software/imc-famos/">imc FAMOS</a> for engineers</p>
          <p>Designed team SharePoint collaboration site and current process dashboard</p>
</div>
      </div>
    </div>
    <div class="container container-7 js-education-section">
      <p class="text text-11 js-education-title">education</p>
      <div class="container container-8 js-education-element">
        <div class="container container-9 js-info">
          <p class="text text-12 js-title">BA, Computer Science &amp; German Studies (in progress)</p>
          <p class="text text-13 js-organization"><a href="http://www.kzoo.edu/">Kalamazoo College</a> - Kalamazoo, Michigan</p>
          <p class="text text-14 js-dates">September 2012 - present</p>
        </div>
        <div class="text text-15 js-description">
          <p>Expected graduation: June 2016; GPA: 3.95</p>
          <p>Coursework: Data Structures, Algorithms, Computer Organization, Mobile Computing, Operating Systems &amp; Networking, Principles of Programming Languages, Discrete Mathematics, Linear Algebra &amp; Vectors</p>
          <p>Senior Individualized Project (SIP): to be determined</p>
          <p>Heyl Scholarship: provides full tuition, room, and books to a few local students pursuing degrees in science or mathematics</p>
</div>
      </div>
      <div class="container container-10 js-education-element">
        <div class="container container-11 js-info">
          <p class="text text-16 js-title">Study Abroad</p>
          <p class="text text-17 js-organization"><a href="http://www.fau.de/">Friedrich Alexander Universität</a> - Erglangen, Germany</p>
          <p class="text text-18 js-dates">September 2014 - July 2015</p>
        </div>
        <div class="text text-19 js-description">
          <p>2-semester program taking regular university courses taught in German</p>
          <p>Integrative Cultural Research Project (ICRP): 3-month internship at <a href="http://bongartz-musik.de/">Bongartz - Musik in allen Formaten</a>, an independent record store, followed by an extended cultural essay</p>
</div>
      </div>
    </div>
    <div class="container container-12 js-projects-section">
      <p class="text text-20 js-projects-title">projects</p>
      <div class="container container-13 js-projects-element">
        <div class="container container-14 js-info">
          <p class="text text-21 js-title">Lillian Anderson Arboretum Mobile App</p>
          <p class="text text-22 js-organization">Kalamazoo College - Kalamazoo, Michigan</p>
          <p class="text text-23 js-dates">May 2014 - present</p>
        </div>
        <div class="text text-24 js-description">
          <p>An iOS app for navigation and education in Kalamazoo College's Arboretum (Android version to come)</p>
          <p>iOS (Objective-C), PHP</p>
          <p><a href="https://github.com/rlundquist3/the-arb">Source</a></p>
</div>
      </div>
      <div class="container container-15 js-projects-element">
        <div class="container container-16 js-info">
          <p class="text text-25 js-title">Riley's Records</p>
          <p class="text text-27 js-dates">December 2013</p>
        </div>
        <div class="text text-28 js-description">
          <p>A (work-in-progress) web app for tracking and managing my vinyl collection</p>
          <p>Python, jQuery, HTML/CSS</p>
          <p><a href="https://github.com/rlundquist3/rileys-records">Source</a></p>
</div>
      </div>
      <div class="container container-15 js-projects-element">
        <div class="container container-16 js-info">
          <p class="text text-25 js-title">KTask</p>
          <p class="text text-27 js-dates">2013</p>
        </div>
        <div class="text text-28 js-description">
          <p>A simple task list manager</p>
          <p>Android (Java)</p>
          <p><a href="https://github.com/rlundquist3/KTask-Final">Source</a></p>
</div>
      </div>
    </div>
    <div class="container container-17 js-technology-section">
      <p class="text text-29 js-technology-title">technology</p>
      <div class="container container-18 js-technology-element">
        <div class="text text-30 js-description">
          <p>Java, Python, Objective-C, C (in Computer organization &amp; Operating Systems Courses)</p>
          <p>Haskell</p>
          <p>Android &amp; iOS</p>
          <p>HTML/CSS</p>
          <p>SQL</p>
          <p>Git, Eclipse, Xcode, <a href="http://www.imc-berlin.com/products/measurement-software/imc-famos/">imc FAMOS</a></p>
</div>
      </div>
    </div>
  </div>
  <div class="element element-2 js-footer">
    <div class="text text-31 js-footer-name">
      <p>2015</p>
      <p>Riley Lundquist</p>
</div>
    <div class="container js-buttons">
      <a class=floatItem href="http://www.github.com/rlundquist3"><img class="image image-1 js-git-hub" src="/templates/static/images/GitHub.png"></a>
      <a class=floatItem href="http://www.linkedin.com/pub/riley-lundquist/76/46/21b/"><img class="image image-2 js-linked-in" src="/templates/static/images/linkedIn.png"></a>
      <a class=floatItem href="/email"><img class="image image-3" src="/templates/static/images/email.png"></a>
    </div>
  </div>
</body>
</html>
